In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\mehna\appdata\local\programs\python\python313\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\mehna\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\mehna\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.15.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\mehna\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\mehna\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer()

In [6]:
corpus={
    "hello i'm mehnaaz",
    "hi i'm not mehnaaz",
    "hey mehnaaz is me"
}

In [7]:
x=vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names_out())
print(x.toarray())

['hello' 'hey' 'hi' 'is' 'me' 'mehnaaz' 'not']
[[0.         0.54645401 0.         0.54645401 0.54645401 0.32274454
  0.        ]
 [0.861037   0.         0.         0.         0.         0.50854232
  0.        ]
 [0.         0.         0.65249088 0.         0.         0.38537163
  0.65249088]]

In [9]:
df=pd.read_csv(r"C:\Users\mehna\Downloads\train.csv")

In [10]:
df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [12]:
df["text"] = df["text"].fillna("")  
vectorizer = TfidfVectorizer(max_features=1000)
vectorizer.fit(df['text'])
tf_idf_data_frame=pd.DataFrame(vectorizer.transform(df['text']).toarray(), columns=vectorizer.get_feature_names_out())
print(tf_idf_data_frame)

        10  100   11   12   15  1st   20  2day   30  4th  ...  yet   yo  \
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...   ...  ...  ...  ...  ...  ...
27476  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0
27477  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0
27478  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0
27479  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0
27480  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0

            you  your  yours  yourself  youtube  yum  yummy   Â½m
0      0.000000   0.0    0.0       0.0      0.0  0.0    0.0  0.0
1      0.231528   0.0    0.0       0.0      0.0  0.0    0.0  0.0
2      0.000000   0.0    0.0       0.0      0.0  0.0    0.0  0.0
3      0.000000   0.0    0.0       0.0      0.0  0.0    0.0  0.0
4      0.000000   0.0    0.0       0.0      0.0  0.0    0.0  0.0
...         ...   ...    ...       ...      ...  ...    ...  ...
27476  0.000000   0.0    0.0       0.0      0.0  0.0    0.0  0.0
27477  0.000000   0.0    0.0       0.0      0.0  0.0    0.0  0.0
27478  0.245064   0.0    0.0       0.0      0.0  0.0    0.0  0.0
27479  0.000000   0.0    0.0       0.0      0.0  0.0    0.0  0.0
27480  0.000000   0.0    0.0       0.0      0.0  0.0    0.0  0.0

[27481 rows x 1000 columns]